django
pillow
psycopg2
gunicorn
dj-database-url


django-ckeditor
celery
redis
django-celery-beat
django-celery-results

django-celery-email

cloudinary
django-cloudinary-storage
django-extensions
django-debug-toolbar
django-storages